// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$dark-blue: #05668d;
$light-blue: #bdd5ea;
$beige: #f7e1c9;
$terre: #e29578;
$light-pink: #ffddd2;
$yellow: #FFC65A;
$orange: #fe5f55;
$green: #1EDD88;
$gray: rgba(0, 0, 0, 0.8);
$light-gray: #F4F4F4;
