// Specific CSS for your home-page
.content-wrapper {
  margin: 40px;
}

.banner {
  display: flex;
  .left-banner {
    background-color: $terre;
    color: white;
    padding: 87px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    .text-content {
      padding: 22px 22px 30px 22px;
      border: 5px solid $light-pink;
    }
  }
  img {
    width: 60%;
    object-fit: cover;
  }
}


/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  #left-banner {
    width: 420px;
    padding: 10px;
    .home-button {
      font-size: 16px;
    }
  }
  #home-pic {
    display: none;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 1200px) {
  #left-banner {
    padding: 40px;
    min-width: 380px;
  }
  #home-pic {
    width: calc(100% - 380px);
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
}

