.shop-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: min-content;
}

.centering {
  display: flex;
  justify-content: center;
}


@media (min-width: 100px) and (max-width: 849px) {
  .shop-grid {
    grid-template-columns: 1fr;
  }
  .shop-card {
    width: 380px;
    img {
      width: 340px;
    }
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 850px) and (max-width: 1267px) {
  .shop-grid {
    grid-template-columns: 1fr 1fr;
  }
}


/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1268px) {
  .shop-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
