.shop-infos {
  display: flex;
  justify-content: space-between;
}

.owner-infos {
  align-items: center;
  text-align: right;
  h3 {
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 0px;
      margin-top: 8px;
      color: rgba(0, 0, 0, 0.2);
    }
  p {
    margin-bottom: 0px;
  }
}


/*Smallest device*/
@media (min-width: 100px) and (max-width: 875px) {
  .big-shop-card {
    flex-direction: column;
    #shop-pic {
      width: 100%;
      height: 360px;
    }
    #contact {
      align-items: left;
      text-align: left;
      display: block;
      #contact-left {
        text-align: left;
      }
      .big {
        position: relative;
        top: 26px;
        left: 112px;
      }
    }
  }
  .owner-infos {
    display: none;
  }
  .products-grid {
    flex-direction: column;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 1200px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {

}
