<div class="footer">
  <div class="footer-links">
    <a target="_blank" href="https://www.facebook.com/Solid%C3%8Ele-111458734102948"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    Contact : ensemble.solidile@gmail.com
  </div>
</div>
