.site-button {
  text-align: center;
  text-decoration: none;
  background-color: $light-blue;
  color: white;
  padding: 4px 10px;
  border: 2px solid $light-blue;
  border-radius: 20px;
  font-family: 'Cabin Sketch';
  font-size: 20px;
  &:hover {
    text-decoration: none;
    background-color: transparent;
    color: $light-blue;
    transition: 0.2s ease-in-out;
  }
}

.big {
  font-size: 24px;
  border-radius: 32px;
  padding: 4px 16px;
}

.home-button {
  background-color: $light-pink;
  color: $terre;
  border-color: $terre;
  &:hover {
    color: $light-pink;
    background-color: $terre;
    border-color: $light-pink;
  }
}

#facebook-button {
  font-size: 25px;
  position: relative;
  top: 10px;
  color: $dark-blue;
  &:hover {
    color: $orange;
    transition: 0.2s ease-in-out;
  }
}


#instagram-button {
  font-size: 25px;
  position: relative;
  top: 10px;
  color: $dark-blue;
  margin-left: 2px;
  &:hover {
    color: $orange;
    transition: 0.2s ease-in-out;
  }
}

