.navbar-lewagon {
  background-color: $dark-blue;
  padding: 0px 25px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 68px;
  z-index:1;
  display: flex;
  justify-content: space-between;


  .avatar {
    width: 46px;
  }
}


.left {
  width: 25%;
  .logo {
  display: flex;
   h1 {
    color: white;
    margin-bottom: 0px;
    font-size: 34px;
    margin-left: 16px;
    font-family: 'Cabin Sketch';
  }
    img {
      width: 60px;
      margin-bottom: 0px;
      position: relative;
      top: 5px;
    }

  }
}

.navbar-toggler-icon {
  font-size: 20px;
}


.navbar-collapse {
  cursor: pointer;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: white;
  margin: 0px 4px;
  p {
    font-size: 15px;
  }
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    &:hover {
      color: white;
    }
}

.mid {
display:flex;
}

.right {
  display: flex;
  justify-content: flex-end !important;
}

.general {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

body {
  padding-top: 70px;
}


#menu {
  color: $light-pink;
  font-size: 20px;
}

// media queries //

//small devices
@media (max-width: 1176px) {
  .general {
    display: none;
  }
}


.example {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 0 45px;
    .hover {
      font-size: 16px;
      text-align: center;
      margin: 0 auto;
      padding: 0px;
      // transition: $animate;
      position: relative;
      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: -6px;
        width: 0px;
        height: 2px;
        margin: 5px 0 0;
        // transition: $animate;
        transition-duration: 0.75s;
        opacity: 0;
        background-color: darken($orange,5%);
      }
      &.hover-1 {
        &:before,
        &:after {
          left: 0;
        }
      }
      &.hover-2 {
        &:before,
        &:after {
          right: 0;
        }
      }
      &.hover-3 {
        &:before {
          left: 50%;
        }
        &:after {
          right: 50%;
        }
      }
      &.hover-4 {
        &:before {
          left: 0;
        }
        &:after {
          right: 0;
        }
      }
    }
    &:hover {
      cursor: pointer;
      .hover {
        &:before,
        &:after {
          width: 100%;
          opacity: 1;
        }
        &.hover-3,
        &.hover-4 {
          &:before,
          &:after {
            width: 50%;
          }
        }
      }
    }
  }
